
/* --------/* shared styles--------- */
/* --------/* shared styles--------- */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.display-flex{
    display: flex;
    
}
.font-dark-1{
    color:#131313;
}
.font-dark-2{
    color: #424242;
}
.font-dark-3{
    color:#727272;
}


/* -------/* navbar styles ----- */
/* -------/* navbar styles ----- */
/* -------/* navbar styles ----- */


.bg-light{
    background: rgba(255, 144, 14, 0.1);

}

.navbar{
    /* text-align: center; */
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-size: 3em;
    padding-left: 5px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    
}
.nav-link{
    text-decoration: none;
    
    
}
.nav-links{
    gap: 40px;
    text-align: center;
    /* margin-top: 63px; */
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.banner{
    text-align: center;
    justify-content: center;
}
.banner-heading{
    font-size: 4.5em;
}
.banner-p {
    padding-bottom:10px;

}
.button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    margin: 32px;

}
.banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 45px;
}

/* ------main-section----- */
/* ------main-section----- */

.main-section{
    max-width: 1440px;
    margin: 0px auto;

}
.img-features-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-left:30px;

}
.futures-container{
     /* padding: 267px 73px 301px 332px; */
     padding-left: 73px;
     padding-top: 267px;
}
.futures-container h3{
    font-size: 3em;
}
.button-2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
}

/* ------@media-screen------ */
/* ------@media-screen------ */

@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        display: grid;
        grid-template-columns: repeat(2 1fr);
    }
    .banner-p{
        padding-left:10px ;
        padding-right: 10px;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px){
    .navbar{
        flex-direction: column;
    }
    
}
