
/* --------/* shared styles--------- */
/* --------/* shared styles--------- */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.display-flex{
    display: flex;
    
}
.font-dark-1{
    color:#131313;
}
.font-dark-2{
    color: #424242;
}
.font-dark-3{
    color:#727272;
}


/* -------/* navbar styles ----- */
/* -------/* navbar styles ----- */
/* -------/* navbar styles ----- */


.bg-light{
    background: rgba(255, 144, 14, 0.1);

}

.navbar{
    /* text-align: center; */
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-size: 2.5em;
    padding-left: 5px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    
}
.nav-link{
    text-decoration: none;
    
    
}
.nav-links{
    gap: 40px;
    text-align: center;
    /* margin-top: 63px; */
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.banner{
    text-align: center;
    justify-content: center;
}
.banner-heading{
    font-size: 3em;
}

.button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    margin: 3px;

}
.banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 45px;
}

/* ------main-section----- */
/* ------main-section----- */

.main-section{
    max-width: 1440px;
    margin: 0px auto;

}
.futures-section{
    padding-top: 85px;
}
.img-features-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-left:30px;
    padding-right: 30px;

}
.futures-container{
     padding-left: 73px;
     padding-top: 167px;
}
.futures-container h3{
    font-size: 3em;
}
.button-2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
}
.img-features-container img {
    width:;
}

/* ------some-facts-section------ */
/* ------some-facts-section------ */


.facts-section{
    padding-top: 130px;
    padding-bottom: 170px;
}
.facts-section h3{
    font-size: 3em;
    margin-bottom: 5px;
    padding-left: 5px;
}
.facts-section p{
    font-size: 1.1em;
    padding-right: 10px;
    padding-left: 5px;
}
.some-facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left:50px;
    padding-top: 40px;
    gap: 30px;
}
.some-facts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 10px;
}
.facts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facts-container h3{
    margin-top: 5px;
    font-size: 3em;
    color: #424242;
    /* margin-bottom: 5px; */
}
.facts-container h6{
    margin-top: 5px;
    font-size: 1.3em;
    color:#727272;

}



/* ------@media-screen------ */
/* ------@media-screen------ */

@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-p{
        padding-left:10px ;
        padding-right: 10px;
    }
    .futures-section{
        flex-direction: column;
        padding-top: 40px;
        
    }
    .img-features-container img{
        width: 100%;
    }
    .futures-container{
     padding-left: 10px;
     padding-top: 5px;
     padding-right: 5px;
    }
    .feures-h3{
        font-size: .8em;
    }
    .img-features-container{
    gap: 15px;
    /* padding-bottom:10px; */
    }
    .some-facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        gap: 30px;
    }
    .facts-section{
    padding-top: 30px;
    padding-bottom: 30px;
    }
    
}


@media screen and (min-width:576px) and (max-width:992px){
    .navbar{
        flex-direction: column;
    }
    .futures-section{
        flex-direction: column;
        
    }
    .img-features-container img{
        width: 100%;
    }
    .futures-container{
     padding-top: 40px;
     padding-left: 15px;
     padding-right: 8px;
    }
    .img-features-container{
    gap: 15px;
    
    }
    .facts-section{
    padding-top: 30px;
    padding-bottom: 50px;
    }
    .some-facts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    padding-left: 70px;
    gap: 40px;
}


}
